body{
    margin: 0;
    background-color: #E5E5E5;
}

main{
    width: 80%;
    height: 90vh;
    top: 5vh;
    margin: auto;
    background-color: aliceblue;
    position: relative;
    padding: 0 7%;
}

.terms{
    display: none;
}

main div:first-child{
    width: 35%;
    position: absolute;
    top: 140px;
}

main div:first-child p:last-child{
    display: none;
} 

img{
    width: 60px;
    height: 68px;
}

main div:last-child{
    background-color: #fff;
    position: absolute;
    width: 35%;
    height: 400px;
    right: 7%;
    top: 42px;
    bottom: 42px;
    border-radius: 6px;
    padding: 40px;
    box-shadow: 4px 4px 20px rgb(101, 194, 197);
}

.span1{grid-area: first-row;}

.span2{grid-area: second-column;}

.span3{grid-area: second-row;}

.span4{grid-area: fourth-column;}

.span5 {grid-area: third-row;}

.span6{grid-area: sixth-column;}

.span7{grid-area: fourth-row;}

.span8{grid-area: last-row;}

.container{
    display: grid;
    grid-template-areas: 'first-row second-column'
    'second-row fourth-column'
    'third-row sixth-column'
    'fourth-row fourth-row'
    'last-row last-row';
    gap: 25px;
}

input, select{
    display: block;
    padding: 5px 3px;
    margin-top: 7px;
    width: 100%;
}

input[type=submit]{
    background-color: rgb(101, 194, 197);
    color: #fff;
    border: none;
    padding: 10px;
}

input:focus, select:focus{
    outline: 1px solid #2EC4B6;
    border: 1px solid #2EC4B6;
}

a{
    color: rgb(101, 194, 197);
}

div:last-child p{
    text-align: center;
}

@media (max-width: 700px) {
    main{
        width: 80%;
        margin: auto;
        background-color: aliceblue;
        position: relative;
        height: unset;
        top: unset;
        padding: 20px;
    }

    main div:first-child, main div:last-child{
        display: block;
        width: 100%;
        position: unset;
        height: unset;
        border-radius: unset;
        box-shadow: unset;
        padding: unset;
    }

    main div:first-child{
        padding: 10px 10px 0;
    }

    form{
        display: block;
        width: 95%;
        margin: 0 auto;
        padding: 20px 10px;
        box-shadow: 4px 4px 20px rgb(101, 194, 197);
    }

    input , select{
        width: 95%;
        margin: 10px 5px 10px 0;
    }

    select, [type=submit]{
        width: 97.5%;
    }

    .first-p{
        display: none;
    } 

    main div:first-child p:last-child{
        display: block;
    } 

    h1{
        font-size: 25px;
    }

    .container{
        display: block;
    }

    .terms{
        display: block;
        width: initial;
        background-color: aliceblue;
        padding: 30px;
    }

}